.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.watch {
  font-size: 120px;
  font-weight: bold;
}
.control {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 10px;
}
.control > * {
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  margin: 20px;
}
.play-pause {
  color: green;
}

.reset {
  color: red;
}
